*{
    padding: 0;
    margin: 0;

}

:root{
    --font-family-Sofia: "Sofia Sans Semi Condensed", sans-serif;
    --font-family-Signika: "Signika", sans-serif;
    --font-italics: italic;
    --Signika-weight: 600;
    --header-font-size: 20px;
    --desc-font-size: 24px;
    --header-font-weight: bold;
    --recipe-line-height: 2rem; 
    
    --background-white:#fffff4;
    --recipe-meta-bg-color:#99edcc;
    --recipe-desc-bg-color:#cb958e;
    --recipe-ingredients-bg-color:#e36689;
    --recipe-instructions-bg-color:#9a275a;
    --recipe-footer-bg-color:#9ac4f8;
    --recipe-meta-color: #1d5e44;
    --recipe-desc-color: #531d16;
    --recipe-ingredients-color:#741f39;
    --recipe-instructions-color:#ffffff;
    --recipe-footer-color:#265083;
    
    --recipe-header-padding: 0 0 0 0;
    --heading-padding: 1rem;
    --body-padding: 2rem;
    --background-size: 240px;
    --bento-radius: 8px;
    --bento-padding: 0 24px 0 24px;
    --bento-gap: 8px;
    --grid-layout-desktop: 160px 320px 320px 80px;
    --grid-layout-other: 240px 240px 240px 480px 480px 180px;
    --recipe-image-desktop: 100%;
    --recipe-image-other: 80%;
    

}

body{
    padding: var(--body-padding);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family-Sofia);
    background-image: url(EndlessDots.png);
    background-repeat: repeat;
    background-color: var(--background-white);
    background-size: var(--background-size);
}

ul, ol{
    list-style-position: inside;
}

.bento{
    padding: var(--bento-padding);
    border-radius: var(--bento-radius);
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.recipe-container{
    display: grid;
    gap: var(--bento-gap);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: var(--grid-layout-desktop);
    grid-template-areas: 
    "a a a a"
    "b c c c"
    "d d e e"
    "f f f f";
}

h1, h2{
    font-family: var(--font-family-Signika);
    font-weight: var(--Signika-weight);
    padding-bottom: var(--heading-padding);
}

.recipe-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: var(--header-font-size);
    font-weight: var(--header-font-weight);
    grid-area: a;
    padding: var(--recipe-header-padding);
    line-height: var(--recipe-line-height);
}

.recipe-image{
    height: var(--recipe-image-desktop);
    /*border: solid 1px #be6405;
    border-radius: 8px;*/
}

.recipe-meta{
    grid-area: b;
    background-color: var(--recipe-meta-bg-color);
    color: var(--recipe-meta-color);
}

.recipe-description{
    font-size: var(--desc-font-size);
    grid-area: c;
    background-color: var(--recipe-desc-bg-color);
    color: var(--recipe-desc-color);
}

.ingredients-section{
    grid-area: d;
    background-color: var(--recipe-ingredients-bg-color);
    color: var(--recipe-ingredients-color);

}

.instructions-section{
    grid-area: e;
    background-color: var(--recipe-instructions-bg-color);
    color: var(--recipe-instructions-color);
}

.recipe-footer{
    grid-area: f;
    background-color: var(--recipe-footer-bg-color);
    color: var(--recipe-footer-color);
    font-style: var(--font-italics);

}

@media (max-width: 1280px) {
    .recipe-container{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: var(--grid-layout-other);
    grid-template-areas: 
    "a a"
    "b b"
    "c c"
    "d d"
    "e e"
    "f f";
}
    .recipe-header{
        flex-direction: column-reverse;
        text-align: center;
    }

    .recipe-image{
        height: var(--recipe-image-other);
    }

    .bento{
    align-items: center;
    }
    footer{
        text-align: center;
    }
}
